<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="screen.record.and.serve">

  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
  <uses-permission android:name="android.permission.RECORD_AUDIO"/>
  <uses-permission android:name="android.permission.INTERNET"/>
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
  <uses-permission android:name="android.permission.CAMERA"/>
  <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS"/>
  <permission android:name="android.permission.CONFIGURE_WIFI_DISPLAY"
      android:protectionLevel="normal" />
  <permission android:name="android.permission.CONTROL_WIFI_DISPLAY"
      android:protectionLevel="normal" />


  <application
      android:name=".App"
      android:allowBackup="true"
      android:icon="@mipmap/ic_launcher"
      android:label="@string/app_name"
      android:roundIcon="@mipmap/ic_launcher_round"
      android:supportsRtl="true"
      android:theme="@style/AppTheme">
    <activity android:name=".view.MainActivity">
    </activity>
    <activity android:name=".view.MediaProjectionDemo"/>
    <activity android:name=".view.SpyDroidStreamingActivity">
    </activity>

    <service android:name=".services.NanoHTTPDServerService"/>
    <service android:name="net.majorkernelpanic.streaming.rtsp.RtspServer"/>
    <service android:name=".services.RtspServer2"/>
    <service android:name=".services.MediaRecorderService"/>

    <activity android:name=".view.LauncherActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>

        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>
    <activity android:name=".view.ExoActivity">
    </activity>
    <activity android:name=".view.TrialActivity">
    </activity>
    <activity android:name=".view.RtspActivity">
    </activity>
    <activity android:name=".view.RTSPClientActivity">
    </activity>
    <activity android:name=".view.WebServerActivity">
    </activity>
  </application>

</manifest>